# --- Build & Binaries ---
bin/*
!bin/.gitkeep
*.o
*.d
*.fatbin
*.sh

# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/
.python-version

# --- Data  ---
dane/
hf25/
thor.py


# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db